@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-surface: #f4f4f5;
  --color-primary: #ff4c61;
  --color-accent: #ff735c;
  --color-muted: #9ca3af;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-surface: var(--color-surface);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-muted: var(--color-muted);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1e1e2a;
    --color-foreground: #f5f5f7;
    --color-surface: #2a2a3c;
    --color-primary: #ff4c61;
    --color-accent: #ff735c;
    --color-muted: #9ca3af;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.black-btn{
  @apply hover:bg-black text-white p-2 rounded-lg transition-colors border border-white;
}

.loading-spin{
  @apply animate-spin rounded-full h-12 w-12 border-t-4 border-foreground border-solid;
}

.btn{
  @apply px-5 py-2 bg-primary text-foreground rounded-lg shadow-md hover:bg-accent transition;
}

.input-box{
  @apply px-4 py-2 border border-muted rounded-lg;
}

.interactive-text{
  @apply hover:text-accent transition-colors
}