@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A2A3C;
    --text_color: #F5F5F7;
    --secondary_text: #9CA3AF;
    --div_color: #1E1E2A;
    --btn_color: #FF4C61;
    --accent_color: #FF735C;
  }
}

body {
  background: var(--background);
  color: var(--text_color);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: var(--btn_color);
}

.btn{
  background-color: var(--btn_color);
}

.nav_bar{
  background-color: var(--div_color);
}

.sec_color{
  color: var(--secondary_text)
}
