@import "tailwindcss";

:root {
    --color-background: #1e1e2a;
    --color-foreground: #f5f5f7;
    --color-surface: #2a2a3c;
    --color-primary: #dc4f60;
    --color-accent: #b13442;
    --color-muted: #9ca3af;
    --color-dark: #51545a;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-surface: var(--color-surface);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-muted: var(--color-muted);
  --color-dark: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1e1e2a;
    --color-foreground: #f5f5f7;
    --color-surface: #2a2a3c;
    --color-primary: #dc4f60;
    --color-accent: #b13442;
    --color-muted: #9ca3af;
    --color-dark: #51545a;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.black-btn{
  @apply hover:bg-background text-foreground p-2 rounded-lg transition-colors border border-foreground;
}

.loading-spin{
  @apply animate-spin rounded-full h-12 w-12 border-t-4 border-foreground border-solid;
}

.btn{
  @apply px-5 py-2 bg-primary text-foreground rounded-lg shadow-md hover:bg-accent transition;
}

.input-box{
  @apply px-4 py-2 border border-muted rounded-lg;
}

.interactive-text{
  @apply hover:text-primary transition-colors cursor-pointer
}
